{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}


<div class="fh5co-parallax" style="background-image: url(/static/images/home-image-3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				<div class="fh5co-intro fh5co-table-cell animate-box">
					<h1 class="text-center">Update Password</h1>
					<div class="form-group">                                         
						<form method='POST'>
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" value="Update" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end: fh5co-parallax -->



{% endblock %}





<div class="row-md-2">
	<div class="form-group">
		<input type="text" class="loginform" name="username" placeholder="Username">
	</div>
</div>
<div class="row-md-2">
	<div class="form-group">
		<input type="password" class="loginform" name="password" placeholder="Password">
	</div>
</div>

{% comment %} <div class="col-md-12">
	<div class="form-group">
		<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
	</div>
</div> {% endcomment %}


	<h1>Change Password</h1> 
	<br><br>
	<div class="form-group">                                         
		<form method='POST'>
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-secondary">Change Password</button> 
		</form>
	</div>