{% extends 'base.html' %}
{% load static %}
{% block title %}Success{% endblock %}
{% block content %}

<div class="fh5co-parallax" style="background-image: url(/static/images/home-image-4.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				<div class="fh5co-intro fh5co-table-cell animate-box">
					<h3 class="header-white">{{ user.username }}, your password has been changed successfully!</h3>
				</div>
			</div>
		</div>
	</div>
</div><!-- end: fh5co-parallax -->


{% endblock %}