{% extends 'base.html' %}
{% load static %}
{% block title %}Success{% endblock %}
{% block content %}

	
	<div class="fh5co-parallax" style="background-image: url(/static/images/fitnesspic2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell animate-box">
						<h2 class="text-center" style="color: white !important">Thank you {{ user.username }} for your email confirmation. You are logged in!<br>
							- COLISEUM TEAM </h2>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}