{% extends 'basetwo.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="fh5co-parallax largerbanner" style="background-image: url(/static/images/fitnesspic2.jpg);">
    {% comment %} <div class="container">    {% endcomment %}
        {% comment %} <div class="row"> {% endcomment %}
			{% comment %} <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table"> {% endcomment %}
            {% comment %} <div class="fh5co-intro fh5co-table-cell animate-box"> {% endcomment %}
    <section class="content-item" id="comments">
        <div class="container">   
        <div class="col-sm-8 col-md-offset-2">   
            <h5>Edit your post</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="position-relative">
                    {% if post.image %}
                      <img src="{{ post.image.url }}" class="post-image" />
                    {% endif %}
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Edit</button>
                </div>
            </form>
        </div>
        </div>
    </section>
</div>

{% endblock content %}


<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-detail' object.pk %}" class="btn btn-light">Back to Your Post</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <h5>Update Your Post</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="position-relative">
                    {% if post.image %}
                      <img src="{{ post.image.url }}" class="post-image" />
                    {% endif %}
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
</div>