{% load crispy_forms_tags %}
{% load static %}


    {% if comment.children.0 %}
        <div class="media marginleft reply sharedpostbody">  
            <a class="pull-left sharedpostbody" href="{% url 'show_profile_page' comment.children.0.author.profile.pk %}"> 
                <img src="{{ comment.children.0.author.profile.picture.url }}" alt="" class="reply-profile-image">
            </a>     
            <div class="media-body">
                <h4 class="media-heading">{{ comment.children.0.author }} left a reply {% if request.user == comment.children.0.author %}
                    <a href="{% url 'comment-delete' post.pk comment.children.0.pk %}" class="red"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg></a>{% endif %}</h4>
                <p class="white">{{ comment.children.0.comment }}</p>
                <ul class="list-unstyled list-inline media-detail pull-left">
                    <li><i class="fa fa-calendar"></i>{{ comment.children.0.created_on }}</li>
                </ul>
                
            </div>
        </div>
    {% endif %}
    {% if comment.children.1 %}
        <div class="media marginleft reply sharedpostbody">  
            <a class="pull-left sharedpostbody" href="{% url 'show_profile_page' comment.children.1.author.profile.pk %}"> 
                <img src="{{ comment.children.1.author.profile.picture.url }}" alt="" class="reply-profile-image">
            </a>     
            <div class="media-body">
                <h4 class="media-heading">{{ comment.children.1.author }} left a reply</h4>
                <p class="white">{{ comment.children.1.comment }}</p>
                <ul class="list-unstyled list-inline media-detail pull-left">
                    <li><i class="fa fa-calendar"></i>{{ comment.children.1.created_on }}</li>
                </ul>
                
            </div>
        </div>
    {% endif %}
    {% if comment.children.2 %}
        <div class="media marginleft reply sharedpostbody">  
            <a class="pull-left sharedpostbody" href="{% url 'show_profile_page' comment.children.2.author.profile.pk %}"> 
                <img src="{{ comment.children.2.author.profile.picture.url }}" alt="" class="reply-profile-image">
            </a>     
            <div class="media-body">
                <h4 class="media-heading">{{ comment.children.2.author }} left a reply</h4>
                <p class="white">{{ comment.children.2.comment }}</p>
                <ul class="list-unstyled list-inline media-detail pull-left">
                    <li><i class="fa fa-calendar"></i>{{ comment.children.2.created_on }}</li>
                </ul>
                
            </div>
        </div>
    {% endif %}

	{% comment %} <div class="row justify-content-center mt-3 mb-5" id="n{{ comment.pk }}">
        <div class="col-md-5 col-sm-12">
            <form method="POST" class="reply-form" action="{% url 'comment-reply' post.pk comment.pk %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div> {% endcomment %}

    {% comment %} {% if comment.children.0 %}
        <div class="row justify-content-center mt-3 child-comment">
            <div class="col-md-5 col-sm-12">
                <p>
                    <div>
                        <a href="{% url 'show_profile_page' comment.children.0.author.profile.pk %}">
                            <img class="round-circle post-img" height="30" width="30" src="{{ comment.children.0.author.profile.picture.url }}" />
                        </a>
                        <p class="post-text">
                            <a class="text-primary post-link" href="{% url 'show_profile_page' comment.children.0.author.profile.pk %}">@{{ comment.children.0.author }}</a> {{ comment.children.0.created_on }}
                        </p>
                    </div>
                    {% if request.user == comment.children.0.author %}
                        <a href="{% url 'comment-delete' post.pk comment.children.0.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
                <p>{{ comment.children.0.comment }}</p>
            </div>
        </div>
    {% endif %} {% endcomment %}
    {% comment %} {% if comment.children.1 %}
        <div class="row justify-content-center mt-3 child-comment">
            <div class="col-md-5 col-sm-12">
                <p>
                    <div>
                        <a href="{% url 'show_profile_page' comment.children.1.author.profile.pk %}">
                            <img class="round-circle post-img" height="30" width="30" src="{{ comment.children.1.author.profile.picture.url }}" />
                        </a>
                        <p class="post-text">
                            <a class="text-primary post-link" href="{% url 'show_profile_page' comment.children.1.author.profile.pk %}">@{{ comment.children.1.author }}</a> {{ comment.children.1.created_on }}
                        </p>
                    </div>
                    {% if request.user == comment.children.1.author %}
                        <a href="{% url 'comment-delete' post.pk comment.children.1.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
                <p>{{ comment.children.1.comment }}</p>
            </div>
        </div>
    {% endif %}
    {% if comment.children.2 %}
        <div class="row justify-content-center mt-3 child-comment">
            <div class="col-md-5 col-sm-12">
                <p>
                    <div>
                        <a href="{% url 'show_profile_page' comment.children.2.author.profile.pk %}">
                            <img class="round-circle post-img" height="30" width="30" src="{{ comment.children.2.author.profile.picture.url }}" />
                        </a>
                        <p class="post-text">
                            <a class="text-primary post-link" href="{% url 'show_profile_page' comment.children.2.author.profile.pk %}">@{{ comment.children.2.author }}</a> {{ comment.children.2.created_on }}
                        </p>
                    </div>
                    {% if request.user == comment.children.2.author %}
                        <a href="{% url 'comment-delete' post.pk comment.children.2.pk %}" class="edit-color"><i class="fas fa-trash"></i></a>
                    {% endif %}
                </p>
                <p>{{ comment.children.2.comment }}</p>
            </div>
        </div>
    {% endif %} {% endcomment %}
